#About-BG {
	background-color: #282828;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#bio {
	width: 70%;
	display: flex;
	align-items: center;
}
#headshot {
	width: 20%;
	height: 20%;
	display: block;
	border-radius: 50%;
	border: #C62368 2px solid;
	margin-right: 5%;
}

#profile-skills {
	width: 70%;
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.ps-wrapper {
	width: 48%;
}
.subheader {
	color: #C62368;
	font-size: 25pt;
}
.subheader2 {
	color: #fff;
	font-size: 17pt;
	font-weight: bold;
	margin-top: 10pt;
	margin-bottom: 0;
}

.skill {
	margin-top: 10px;
	margin-bottom: 25px;
	display: flex;
}
.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 20px;
	background-color: #FA7268;
}
.empty {
	background-color: #666666;
}

#resume-btn {
	border: none;
	border-radius: 10px;
	padding: 15px 35px;
	cursor: pointer;
	background-color: #FA7268;
	color: white;
	font-size: 14pt;
	transition: background-color .25s;
}
#resume-btn:hover {
	background-color: #DB544B;
}
#resume-btn:active {
	background-color: #666666;
}
#resume-download {
	margin: 40px;
}