.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.section-title {
  color: #FA7268;
  font-size: 35pt;
}
.section-text {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 5pt;
  color: #eaeaea;
}
.section-text a {
  color: #FA7268;
  margin: 0;
}
.section-text a:hover {
  color: #DB544B;
}

#projects {
  background-color: #1e1e1e;
  height: 500px;
}
#activities {
  background-color: #141414;
  height: 500px;
}
#contact {
  background-color: #0a0a0a;
  height: 500px;
}

.spacer {
  aspect-ratio: 900/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.break1 {
  background-image: url('../images/H--A\ break.svg');
}