#PROJECTS-BG {
	background-color: #1e1e1e;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#projects-container {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	/*justify-content: center;*/
	margin-bottom: 5%;
}

.project-card {
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 20%;
	aspect-ratio: 1;
	border-radius: 7.5%;
	margin: 2.5%;
}
.project-card > .card-hover {
	background-color: rgba(0, 0, 0, .75);
	width: 100%;
	height: 100%;
	border-radius: 7.5%;
	position: relative;
	overflow: hidden;
	user-select: none;
	cursor: pointer;

	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.project-card:hover > .card-hover {
	opacity: 1;
}
.card-name {
	font-weight: bold;
	margin: 5% 5% 1.5% 5%;
}
.card-description {
	margin: 0 5% 0 5%;
}
#card-plus {
	margin: 0;
	font-size: 30pt;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#big-card-BG {
	height: 50vh;
	min-height: 500px;
	aspect-ratio: 1/1;
	background-color: #1E1E1E;
	border-radius: 7.5%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	transition: opacity 0.25s ease-in-out;
	opacity: 0;
}
.big-card-component {
	margin: 0;
}
#big-card-img {
	height: 60%;
	background-color: #FA7268;
}
#big-card-details {
	height: 28%;
}
#big-card-btns {
	height: 12%;
	background-color: #0A0A0A;
	display: flex;
	align-items: center;
}
.big-card-btn {
	margin: 0 0 0 5%;
	cursor: pointer;
}
.big-card-btn a {
	color: white;
	text-decoration: none;
}
.big-card-btn:hover {
	color: #DB544B;
}
.big-card-btn a:hover {
	color: #DB544B;
}

#overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .75);
}